body {
    background-color: #1E272E;
    color: #D1C1A8;
    font-family: Alegreya, sans-serif !important;
    font-size: 17px;
}

a {
    color: #D1C1A8;
    text-decoration: none;
}

/* ------- Logo ------- */
.logo {
    font-family: "Gill Sans", sans-serif;
}
.logo .logo__text {
}
.logo .logo__cursor {
    display: inline-block;
    width: 8px;
    height: 0.7rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite;
}
@keyframes cursor {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
