body {
    background-color: #1E272E;
    color: #D1C1A8;
    font-family: Alegreya, sans-serif !important;
    font-size: 17px;
}

a {
    color: #D1C1A8;
    text-decoration: none;
}

.logo {
    font-family: "Gill Sans", sans-serif;
}
